@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;600;900&display=swap");

@import "tailwindcss";
@import "tailwindcss-animated";

body {
  height: 100vh;
  background: #181818;
  color: #f8f8f8;
  min-width: 0;
  font-family: "Onest", sans-serif;
}

button {
  @apply cursor-pointer;
}

header {
  @apply flex flex-col items-center justify-center flex-1;
}

@layer components {
  .app {
    @apply px-4 py-5 flex flex-col mx-auto max-w-7xl items-center justify-center min-h-screen gap-20;
  }

  .title {
    @apply font-semibold max-sm:text-[3rem] text-6xl leading-[1.2] animate-fade-down animate-once  max-w-[700px] text-center text-balance;
  }

  .filters-wrapper {
    @apply flex justify-center items-center gap-x-4;
  }

  .primary-button {
    @apply px-4 py-2 cursor-pointer w-full min-md:w-[130px] rounded-full;
  }
  /* .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full min-md:w-[130px];
  } */
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-slate-500 via-amber-100 to-slate-500;
  /* @apply bg-clip-text text-transparent bg-gradient-to-r from-[#484b67] via-[#f3f6fa] to-[#484b67]; */
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #f3f6fa, #484b67);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}
